<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747866795539-pj2ph9khjvl3elq02h0rrrcjmp3j3jpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747866795539-pj2ph9khjvl3elq02h0rrrcjmp3j3jpt</string>
	<key>API_KEY</key>
	<string>AIzaSyC58c9t4yGhvENaONz4qtMLL_O7AY2b4wk</string>
	<key>GCM_SENDER_ID</key>
	<string>747866795539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatsappkg.whatsApp</string>
	<key>PROJECT_ID</key>
	<string>whatsappkg</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappkg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747866795539:ios:ebbb928a7002814f0f19e6</string>
</dict>
</plist>